// declare your site palette colors here
// e.g:
$white: white;
$h1clr: hsl(227, 100%, 56%);
$dateclr: hsl(219, 100%, 40%);
$pbgclr: hsl(301, 30%, 40%, 0.2);
$red: hsl(356, 92%, 41%);
$pnew: hsl(210, 100%, 13%, 0.4);
$refclr: hsl(218, 100%, 5%);
$linkclr: rgb(148, 18, 196);
